/* Topics.css */
.topicsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 99%;
    height: 100%;
}

.topicsHeader {
    display: flex;
    font-weight: bold;
    padding: 10px;
    background-color: #464646;
}

.headerTheme,
.headerTopics,
.topic-theme,
.topic-topics {
    flex: 1;
}

.topicRow {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.topicTheme {
    flex: 1;
}

.topicTopics {
    flex: 1;
}

.topic {
    margin-bottom: 5px; /* Space between topics */
}

.button {
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
